@charset "UTF-8";
body {
    background: linear-gradient(45deg, rgb(170, 225, 186),rgb(238, 173, 149), rgb(127, 142, 186), rgb(187, 199, 237), rgb(205, 230, 138), rgb(170, 225, 186),rgb(238, 173, 149));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite ;
    height: 100vh;
    min-width: 100vw;
    width: 100vw;
    z-index: -1;
  }
  body::before {
    filter: blur(64px);    
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.logo{
	margin-left: 50%;
	transform: translate(-50%, 0%);
}
.background-general{
	background-color:rgba(255,255,255, 0.1);
}
.container{
	transform: translate(0%, -10%);
}